<section id="intro2" class="py-5 px-4">
    <div class="container text-center justify-content-center ">
        <div class="intro-text">
            <div class="text-white text-center h2">
                Лучшие специалисты отрасли будут
                работать с вами лично,
                5‑летний стаж говорит о многом
            </div>
            <div class="text-white mt-4 h3">И решает его в вашу пользу</div>
            <div class="text-white mt-4">
                Наши сотрудники - квалифицированные визовые менеджеры. Они разбираются во всех тонкостях оформления
                документов, поэтому мы решаем вопросы тех клиентов, от которых другие компании отказываются сразу.
            </div>

            <br>
            <div class="text-white h3">Почему наши менеджеры лучшие:</div>

            <table class="w-100 check-items justify-content-center text-center margin-auto mt-4">
                <tr>
                    <td class="align-text-top w40px">
                        <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png" class="w-75 mb-2 mr-2">
                    </td>
                    <td class="align-text-top text-white text-left pb-4">
                        Имеют высшее образование по специальностям, смежным с визовым обеспечением
                    </td>
                </tr>

                <tr class="">
                    <td class="align-text-top w40px">
                        <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png" class="w-75 mb-2 mr-2">
                    </td>
                    <td class="align-text-top text-white text-left pb-4">
                        Побывали практически во всех странах, предлагаемых для посещения нашей компанией
                    </td>
                </tr>

                <tr>
                    <td class="align-text-top w40px">
                        <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png" class="w-75 mb-2 mr-2">
                    </td>
                    <td class="align-text-top text-white text-left pb-4">
                        2 раза в год проходят курсы повышения квалификации
                    </td>
                </tr>


                <tr>
                    <td class="align-text-top w40px">
                        <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png" class="w-75 mb-2 mr-2">
                    </td>
                    <td class="align-text-top text-white text-left pb-4">
                        5 дополнительных услуг для удобства клиентов
                    </td>
                </tr>

                <tr>
                    <td class="align-text-top w40px">
                        <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png" class="w-75 mb-2 mr-2">
                    </td>
                    <td class="align-text-top text-white text-left">
                        Занимаются обучением специалистов подобных нашей компаний
                    </td>
                </tr>
            </table>

            


        </div>
    </div>
</section>