<section id="features" class="features mt-3 pt-0 pb-0">
    <div class="container-fluid">
        <div class="container w1110px">
            <table class="bg_white_to_gray">
                <tr>
                    <td class="w617px">
                        <div class="text col-lg-6 order-2 order-lg-1 ">
                            <div class="icon first-letter mt-2"><img alt="" src="/img/1x1.png" data-src="/img/line.png"  class="img-fluid"></div>
                            <div class="first-letter-text">
                                <h2 class="text-dark"><span>Визы клиентов одобряют<br> в 99,98% случаев</span></h2>
                                <span class="text-dark mt-4 mb-4 h3">Если за дело берёмся мы</span>
                                <p>
                                    Наши сотрудники имеют огромный практический стаж<br>
                                    в оформлении виз любого типа и продолжительности.<br>
                                    На основании их опыта разработана уникальная система<br>
                                    контроля качества на всех этапах визовой помощи. Она<br>
                                    в 99,98% случаев помогает избежать отказа визового офицера.<br>
                                    Индивидуально относимся к каждому клиенту. Тщательно<br>
                                    изучаем его историю и предоставляемые бумаги. На этапе<br>
                                    консультирования сразу предупреждаем о возможности отказа<br>
                                    и озвучиваем его причину.
                                </p>
                            </div>

                        </div>
                    </td>
                    <td class="w660px h660px">
                        <div class="image col-lg-6 order-1 order-lg-2"><img alt="" src="/img/1x1.png" data-src="/img/feature-1.png"
                                                                            class="img-fluid">
                        </div>
                    </td>
                </tr>
            </table>
        </div><!--//container-->
    </div><!--//container-fluid-->


    <div class="container-fluid bg_gray_to_white">
        <div class="container w1110px">
            <table class="bg_gray_to_white">
                <tr>
                    <td class="w660px h660px">
                        <div class="image col-lg-6 "><img alt="" src="/img/1x1.png" data-src="/img/feature-2.png"  class="img-fluid"></div>
                    </td>
                    <td class="w600px">
                        <div class="text col-lg-6 ">
                            <div class="icon first-letter mt-2"><img alt="" src="/img/1x1.png" data-src="/img/line.png"  class="img-fluid"></div>
                            <div class="first-letter-text">
                                <h2 class="text-dark"><span>Подготовку нужных бумаг берём на себя</span></h2>
                                <span class="text-dark mt-4 mb-4 h3">Участие клиента - минимальное</span>
                                <p>
                                    Заказав визу у нас, вы сможете забыть про возню с бумагами и заполнение сотен анкет.
                                    Наши
                                    сотрудники
                                    на основании <span class="b">минимального пакета документов:</span>
                                </p>
                                <ul class="feature">
                                    <li>
                                        <table >
                                            <tr>
                                                <td class="align-text-top w7p">
                                                    <img alt="" src="/img/1x1.png" data-src="/img/feature-2_check.png"  class="img-fluid">
                                                </td>
                                                <td class="align-text-top">
                                                    Оформят для вас визу в любом из предложенных направлений
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li>
                                        <table >
                                            <tr>
                                                <td class="align-text-top w7p">
                                                    <img alt="" src="/img/1x1.png" data-src="/img/feature-2_check.png"  class="img-fluid">
                                                </td>
                                                <td class="align-text-top">
                                                    Закажут билеты и номер в отеле
                                                </td>
                                            </tr>
                                        </table>


                                    </li>
                                    <li>
                                        <table  >
                                            <tr>
                                                <td class="align-text-top w7p">
                                                    <img alt="" src="/img/1x1.png" data-src="/img/feature-2_check.png"  class="img-fluid">
                                                </td>
                                                <td class="align-text-top ">
                                                    Оформят страховку
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li>

                                        <table  >
                                            <tr>
                                                <td class="align-text-top w7p">
                                                    <img alt="" src="/img/1x1.png" data-src="/img/feature-2_check.png"  class="img-fluid">
                                                </td>
                                                <td class="align-text-top">
                                                    Организуют переводы с минимальной комиссией
                                                </td>
                                            </tr>
                                        </table>


                                    </li>
                                </ul>



                                <p>
                                    Заплатив относительно небольшую сумму, вы избавите себя от массы хлопот.
                                    Освободившееся время
                                    можно посвятить приготовлениям к поездке.
                                </p>


                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div><!--//container-->
    </div><!--//container-fluid-->


    <div class="container-fluid">
        <div class="container w1110px">
            <table class="bg_white_to_gray">
                <tr>
                    <td class="w617px">
                        <div class="text col-lg-6 order-2 order-lg-1" style="padding-left: 13px;">
                            <div class="icon first-letter mt-2"><img alt="" src="/img/1x1.png" data-src="/img/line.png"  class="img-fluid"></div>

                            <div class="first-letter-text">
                                <h2 class="text-dark"><span>Знаем все подводные камни</span></h2>
                                <span class="text-dark mt-4 mb-4 h3">Разработали верный курс</span>
                                <p>
                                    Путешествие за рубеж всегда требует долгой и тщательной<br>
                                    подготовки. Львиную долю времени занимает исправление<br>
                                    ошибок, допущенных при заполнении документов. Каждая страна<br>
                                    и направление - отдельная история. Даже если вы уже прошли<br>
                                    самостоятельное оформление визы в США, для Японии<br>
                                    процедура будет совершенно другой. <span class="b">Важную роль играет:</span>
                                </p>

                                <ul class="feature">
                                    <li>
                                        <table>
                                            <tr>
                                                <td class="align-text-top w7p">
                                                    <img alt="" src="/img/1x1.png" data-src="/img/feature-2_check.png"  class="img-fluid">
                                                </td>
                                                <td class="align-text-top">
                                                    Человеческий фактор работников посольства
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li>
                                        <table>
                                            <tr>
                                                <td class="align-text-top w7p">
                                                    <img alt="" src="/img/1x1.png" data-src="/img/feature-2_check.png"  class="img-fluid">
                                                </td>
                                                <td class="align-text-top">
                                                    Устои самого государства посещения
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li>
                                        <table>
                                            <tr>
                                                <td class="align-text-top w7p">
                                                    <img alt="" src="/img/1x1.png" data-src="/img/feature-2_check.png"  class="img-fluid">
                                                </td>
                                                <td class="align-text-top">
                                                    Политическая ситуация и т.д.
                                                </td>
                                            </tr>
                                        </table>
                                    </li>
                                </ul>

                                <p>
                                    Мы осведомлены обо всех деталях и поможем вам избежать длительных процедур.
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="w660px h660px">
                        <div class="image col-lg-6 order-1 order-lg-2"><img alt="" src="/img/1x1.png" data-src="/img/feature-3.png"
                                                                            class="img-fluid">
                        </div>
                    </td>
                </tr>
            </table>


        </div><!--//container-->
    </div><!--//container-fluid-->


</section>
