<section id="intro2" class="pt-5">
    <div class="container">
        <div class="intro-text">
                <div class="text-white h2">
                    Лучшие специалисты отрасли будут<br>
                    работать с вами лично,<br>
                    5-летний стаж говорит о многом<br>
                </div>
            <br>
            <div class="text-white mt-4 h3">И решает его в вашу пользу</div>
            <div class="text-white mt-4">Наши сотрудники - квалифицированные визовые менеджеры. Они разбираются во всех тонкостях оформления<br>
          документов, поэтому мы решаем вопросы тех клиентов, от которых другие компании отказываются сразу.
        </div>


            <div class="text-white h3 mt-4">Почему наши менеджеры лучшие:</div>


            <div class="row text-white margin-auto  mt-4">
                <div class="col table-padding">
                    <table class="w1110px margin-auto">
                        <tr>
                            <td class="text-left pl-0 ">
                                <table class="ml-0 pl-0">
                                    <tr>
                                        <td class=" text-left">
                                            <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" text-left">
                                            <span>Имеют высшее образование<br> по специальностям, смежным<br> с визовым
                                                обеспечением</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td class=" text-left">
                                            <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" text-left">
                                            <span>Побывали практически во всех<br> странах, предлагаемых для<br> посещения
                                                нашей компанией</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-right pl-0">
                                <table class="mr-0 pr-0">
                                    <tr>
                                        <td class=" text-left">
                                            <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" text-left">
                                            <span>2 раза в год проходят курсы<br> повышения квалификации<br>&nbsp;</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div><!--col-->
            </div><!--//row-->

            <div class="row text-white margin-auto  text-center align-content-center mt-4">
                <div class="col table-padding">
                    <table class="w1110px margin-auto">
                        <tr>
                            <td>
                                <table style="margin-left: 200px ">
                                    <tr>
                                        <td class=" text-left">
                                            <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" text-left">
                                            <span>Соавторы серии профильных<br> книг для B2B-сектор</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table style="margin-right: 200px ">
                                    <tr>
                                        <td class=" text-left">
                                            <img alt="" src="/img/1x1.png" data-src="/img/specialist_check.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" text-left">
                                            <span>Занимаются обучением специалистов<br> подобных нашей компаний</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>