<section id="testimonials" class="testimonials pt-5 pb-0">
    <div class="container justify-content-center text-center align-content-center ">
        <header class="text-center no-margin-bottom">
            <span class="h2 text-white">Клиенты регулярно сообщают<br> нам своё мнение</span><br>
            <span class="h3 lead text-white">И мы учитываем его в своей работе</span>
        </header>

        <div class="owl-carousel owl-theme testimonials-slider justify-content-center text-center align-content-center margin-auto w1110px "
             id="testimonials-slider">

            {% for testimonial in testimonials %}
                <div class="item-holder justify-content-center text-center align-content-center">
                    <div class="item arch-item justify-content-center text-center align-content-center">

                        <div class="arch-row">
                            <div class="row d-flex justify-content-center align-items-center text-center arch-row">
                                <div class="col">
                                    <div class="avatar mt-5"><img alt="" src="/img/1x1.png"
                                                                  data-src="{{ testimonial.photoURI }}"
                                                                  class="img-fluid"></div>

                                    <strong class="testimonials-client-name text-center">
                                        {{ testimonial.client }}
                                    </strong>

                                    <hr>

                                    <div class="testimonials-text text-left ">
                                        <p>
                                            {{ testimonial.text|raw }}
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <a target="_blank"
                               class="d-flex justify-content-center align-items-center text-center testimonials-link"
                               href="{{ testimonial.uri }}">
                                <i class="fa fa-file-text-o"></i>
                                &nbsp;
                                <span class="u">
                                    Смотреть&nbsp;оригинал
                                </span>
                            </a>

                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>


    {% include '768/consultation_form_3.html.twig' %}


</section>

