<section id="companies" class="mb-5 pb-4 pt-5 px-4">
    <div class="container text-center justify-content-center align-items-center">
        <span class="text-dark m-4 h2 pb-4">Эти компании уже с нами работают</span>

        <table class="w100p mb-4">
            <tr>
                <td class="pt-4">
                    <img class="w150px" src="/img/1x1.png" data-src="/img/logos/organization-logo1.png">
                </td>
                <td class="pt-4">
                    <img class="w150px" src="/img/1x1.png" data-src="/img/logos/organization-logo2.png">
                </td>

                <td class="pt-4">
                    <img class="w150px" src="/img/1x1.png" data-src="/img/logos/organization-logo3.png">
                </td>
            </tr>


            <!--<tr style="display: none" class="map_show_more">-->


            <tr>
                <td class="pt-4">
                    <img class="w150px mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo4.png">
                </td>

                <td class="pt-4">
                    <img class="w150px mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo5.png">
                </td>
                <td class="pt-4">
                    <img class="w150px mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo6.png">
                </td>
            </tr>

            <tr>
                <td class="pt-4">
                    <img class="w150px mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo7.png">
                </td>
                <td class="pt-4">
                    <img class="w150px mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo8.png">
                </td>

                <td class="pt-4" colspan="2">
                    <img class="w150px mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo9.png">
                </td>
            </tr>


        </table>

        <!--<button class="mt-2 mb-5 btn btn-lg btn-outline-success" id="map_btn_show_more">Показать ещё</button>-->

</section>
