<section id="five_steps" class="bg-gray pt-2 pb-0 mb-0">
    <div class="container text-center justify-content-center align-items-center">

        <span class="text-dark mt-5 h2">Как мы с вами будем работать</span>

        <table  class="w550px margin-auto">
            <tr class="tr-1">
                <td class="my-0 py-0">
                    <div class="bg-number">01</div>
                    <div class="rectangle">
                        <table>
                            <tr>
                                <td class="w35p">
                                    <img src="/img/1x1.png" data-src="/img/organization/organization-how-work-i1.png">
                                </td>
                                <td>
                                    <div class="text-left">Оставляете<br> заявку</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="my-0 py-0">
                    <div class="bg-number">02</div>
                    <div class="rectangle">
                        <table>
                            <tr>
                                <td class="w35p">
                                    <img src="/img/1x1.png" data-src="/img/organization/organization-how-work-i2.png">
                                </td>
                                <td>
                                    <div class=" text-left">Консультация<br> специалиста</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="tr-2">
                <td class="my-0 py-0">
                    <div class="bg-number">03</div>
                    <div class="rectangle">
                        <table>
                            <tr>
                                <td class="w35p">
                                    <img class="" src="/img/1x1.png"
                                         data-src="/img/organization/organization-how-work-i3.png">
                                </td>
                                <td>
                                    <div class=" text-left"> Сбор минимального<br>пакета документов</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="my-0 py-0">
                    <div class="bg-number">04</div>
                    <div class="rectangle ">

                        <table>
                            <tr>
                                <td class="w35p">
                                    <img class="" src="/img/1x1.png"
                                         data-src="/img/organization/organization-how-work-i4.png">
                                </td>
                                <td>
                                    <div class=" text-left"> Мы готовим<br> и сдаём документы<br> в консульство</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="tr-3">
                <td colspan="2">
                    <div class="margin-auto text-center w260px">
                        <div class="bg-number">05</div>
                        <div class="rectangle">
                            <table>
                                <tr>
                                    <td class="w35p">
                                        <img class="" src="/img/1x1.png"
                                             data-src="/img/organization/organization-how-work-i5.png">
                                    </td>
                                    <td>
                                        <div class=" text-left"> Поздравляем, <br> вы - обладатель<br> визы!</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
