<section id="organization_intro" class="px-5 py-5 ">

    {#{% include '768/direction.html.twig' %}#}

    <div class="container">
        <div class="h1 agency_intro-text text-center">

            Оформление виз с экономией рабочего времени ваших сотрудников до 30%

            <p></p>

            {#<a style="visibility: hidden" href="#" data-toggle="modal" data-target="#video_modal_1"#}
            {#class="btn-get-started scrollto mt-lg-5 " id="video-link"><i class="fa fa-play"></i> Смотреть видео</a>#}

            <table class="check-items justify-content-center text-center">
                <tr>
                    <td class="align-text-center">
                        <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2">
                    </td>
                    <td class="align-text-center text-white pr-4 text">
                        % отказа стремится к 0
                    </td>

                    <td class="align-text-center">
                        <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2">
                    </td>
                    <td class="align-text-center text-white pr-4 text">
                        Один договор на все<br> типы виз
                    </td>

                    <td class="align-text-center">
                        <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2">
                    </td>
                    <td class="align-text-center text-white pr-4 text">
                        Мы оформляем визы<br> по всей России
                    </td>
                </tr>
            </table>
        </div><!--agency_intro-text-->
    </div> <!-- //container -->
</section><!-- #agency_intro -->





