<section id="organization_list" class="bg-gray pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <div class="h2">
                Почему вашему бизнесу выгодно<br>доверить нам оформление виз
            </div>
        </div>




        <table class="m-4 p-4 mt-5">
            <tr>
                <td>
                    <img src="/img/1x1.png" data-src="/img/organization/organization-cht1.png"  class="m-2">
                </td>
                <td class="w22p">
                    <span class="h3 ml-2 mt-2"> Всё в одном месте</span>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/organization/>.png" >
                </td>
                <td>
                    <div class="ml-4 mr-5 text-gray">
                        Доставка, страховка, нотариальное заверение, оформление приглашений для иностранцев - мы делаем всё.
                    </div>
                </td>
            </tr>
        </table>

        <table class="m-4 p-4">
            <tr >
                <td>
                    <img src="/img/1x1.png" data-src="/img/organization/organization-cht1.png" class="m-2">
                </td>
                <td class="w22p">
                    <span class="h3 ml-2 mt-2"> Повышение КПД</span>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/organization/>.png">
                </td>
                <td>
                    <div class="ml-4 mr-5 text-gray">
                        У ваших секретарей освободится время для решения других важных рабочих вопросов спокойно и эффективно.
                    </div>
                </td>
            </tr>
        </table>

        <table class="m-4 p-4">
            <tr >
                <td>
                    <img src="/img/1x1.png" data-src="/img/organization/organization-cht1.png" class="m-2">
                </td>
                <td class="w22p">
                    <span class="h3 ml-2 mt-2"> Визы без осечек</span>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/organization/>.png">
                </td>
                <td>
                    <div class="ml-4 mr-5 text-gray">
                        Уже 4 года мы оформляем визы: наработан огромный положительный опыт и необходимые связи.
                    </div>
                </td>
            </tr>
        </table>





    </div><!-- //containter-->
</section>