<section id="square" class="mb-5 pb-5 pt-2 px-4">
    <div class="container text-center justify-content-center align-items-center">

        <img src="/img/1x1.png" data-src="/img/organization/icon-bag.png" class="phone-icon">
        <div class="bg-gray text-dark text-left text b w-100 px-4 pb-4">
            <div class="h2 text-center mb-4">Вам нужно оформить визу для деловой поездки?</div>

            Скорее всего, организацией поездок в вашей компании обычно занимаются секретари. Это
            отнимает львиную долю их рабочего времени, в разы снижая эффективность остальной работы.
            Мы в корне изменим эту плачевную ситуацию!
        </div>
</section>
