<section id="contacts_intro_2" class="px-4 py-5">
    <div class="container text-center">
        <div class="h2 text-dark">
            Получите всю необходимую контактную информацию о наших офисах в России!<br>
            <img class="mt-5" src="/img/contacts/map.png">
        </div>
    </div> <!-- //container -->
</section><!-- #contacts_intro -->
