<section id="organization_intro2" class="pt-5 px-4">
    <div class="container text-white">
        <div class="text-center">
            <div class="text-white h2">
                Компания «Международный визовый центр»
                быстро оформит визы в 65 стран мира
            </div>
        </div>


        <div class="text-white mt-4 mb-0 text-center" style="font-weight: 300;">
            Вашим сотрудникам не придётся отвлекаться от рабочих задач.
            Оказываем полный спектр услуг по визовой поддержке.
        </div>

        <br><br>
        <table class="margin-auto">

            <tr>
                <td rowspan="2" class="title pr-3">65</td>
                <td class="subtitle valign-bottom">СТРАН</td>
            </tr>
            <tr>
                <td class="subtitle valign-top">МИРА</td>
            </tr>

        </table>


        <div class="bg-white py-4 px-2 mt-4 white-box">
            <div class="text-dark h3 mb-3" style="padding: 10px; padding-bottom: 0px;">
                Мы специализируемся на быстром и успешном оформлении любых виз:
            </div>

            <div class="text-gray" style="padding: 10px; padding-top: 0px;">
                мы это сделали уже тысячи раз, и не допустили ни одного
                прокола. Знаем наизусть все требования консульств и чётко
                их исполняем.
            </div>
        </div>


        <br><br>

        <div class="row text-center">
            <div class="col">
                <button class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#consultation_modal_1">
                    Получить консультацию
                </button>
            </div>
        </div>

    </div><!-- //containter-->
</section>