<section id="organization_intro3" class="pt-5 mb-0 pb-5">
    <div class="container text-center align-content-center justify-content-center">

        <div class="text-white h2">
            Что конкретно вы получите
        </div>

        <div class="square margin-auto mt-100px">
            <img class="bg-avatar" src="/img/organization/organization-what-you-get-top.png"><br>
            <img class="avatar" src="/img/organization/organization-what-you-get-i1.png">
            <div class="text-dark text-center title mb-2">
                Визовая поддержка
            </div>
            <div class="text-left text-gray text">
                Безошибочный сбор пакета
                документов, подача и получение виз
                без отказов.
            </div>
        </div>

        <div class="square margin-auto mt-100px">
            <img class="bg-avatar" src="/img/organization/organization-what-you-get-top.png"><br>
            <img class="avatar" src="/img/organization/organization-what-you-get-i2.png">
            <div class="text-dark text-center title mb-2">
                Дополнительная экономия
            </div>
            <div class="text-left text-gray text">
                Вы получите скидку 5% за каждого
                заявителя, а если количество
                одновременно выезжающих за
                границу больше 4-х, скидка составит
                10%. С нами выгодно!
            </div>
        </div>

        <div class="square margin-auto mt-100px">
            <img class="bg-avatar" src="/img/organization/organization-what-you-get-top.png"><br>
            <img class="avatar" src="/img/organization/organization-what-you-get-i3.png">
            <div class="text-dark text-center title mb-2">
                Сопровождение
            </div>
            <div class="text-left text-gray text">
                Наши сотрудники сопровождают
                ваших специалистов в посольство
                для личной подачи при
                необходимости.
            </div>
        </div>

        <div class="square margin-auto mt-100px">
            <img class="bg-avatar" src="/img/organization/organization-what-you-get-top.png"><br>
            <img class="avatar" src="/img/organization/organization-what-you-get-i4.png">
            <div class="text-dark text-center title mb-2">
                Срочное оформление
            </div>
            <div class="text-left text-gray text">
                Поможем оформить визы
                в чрезвычайно срочном порядке:
                Германия и Китай (4 раб. дня),
                Болгария (5 раб. дней), Хорватия (5
                раб. дней) и другие.
            </div>
        </div>

        <div class="square margin-auto mt-100px">
            <img class="bg-avatar" src="/img/organization/organization-what-you-get-top.png"><br>
            <img class="avatar" src="/img/organization/organization-what-you-get-i5.png">
            <div class="text-dark text-center title mb-2">
                Экономия времени
            </div>
            <div class="text-left text-gray text">
                Вашим секретарям не придётся
                никуда возить документы: мы всё
                заберём у вас в офисе, потом вернём
                готовый результат.
            </div>
        </div>

        <div class="square margin-auto mt-100px">
            <img class="bg-avatar" src="/img/organization/organization-what-you-get-top.png"><br>
            <img class="avatar" src="/img/organization/organization-what-you-get-i6.png">
            <div class="text-dark text-center title mb-2">
                Документы
            </div>
            <div class="text-left text-gray text">
                Мы оформим все необходимые для
                бухгалтерии закрывающие
                документы и подготовим требуемые
                отчёты.
            </div>
        </div>

        <button class="btn btn-lg btn-outline-light margin-auto mt-5" data-toggle="modal" data-target="#consultation_modal_1">Получить консультацию</button>

    </div><!-- //containter-->
</section>