<section id="organization_list" class="bg-gray pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <div class="h2">
                Почему вашему бизнесу выгодно доверить нам оформление виз
            </div>
        </div>

        <br>

        <div class="bg-white square text-center margin-auto px-4 mt-5">
            <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/organization/circle-f.png" class="icon-background">
                <br><br><br><br><br><br>
                <span class="text-center title text-dark">
                    Всё в одном месте
                </span>
                <div class="text-left text">
                    Доставка, страховка, нотариальное заверение, оформление приглашений для иностранцев - мы делаем всё.
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div class="bg-white square text-center margin-auto px-4">
            <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/organization/circle-f.png" class="icon-background">
                <br><br><br><br><br><br>
                <span class="text-center title text-dark">
                    Повышение КПД
                </span>
                <div class="text-left text">
                    У ваших секретарей освободится время для решения других важных рабочих вопросов спокойно и эффективно.
                </div>
            </div>
        </div>

        <br><br><br><br>



        <div class="bg-white square text-center margin-auto px-4">
            <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/organization/circle-f.png" class="icon-background">
                <br><br><br><br><br><br>
                <span class="text-center title text-dark">
                    Визы без осечек
                </span>
                <div class="text-left text">
                    Уже 4 года мы оформляем визы: наработан огромный положительный опыт и необходимые связи.
                </div>
            </div>
        </div>





    </div><!-- //containter-->
</section>