<section id="agencies" class="mb-5 pb-4 pt-5">
    <div class="container text-center justify-content-center align-items-center">
        <span class="text-dark m-4 h2">Туристические агентства — наши партнёры</span>
        <div class="text-dark m-2 h3">Взгляните, с какими турагентствами мы уже<br> наладили партнёрские отношения</div>


        <table class="w1110px mb-4 margin-auto">
            <tr>
                <td class="w33p">
                    <img class="" src="/img/1x1.png" data-src="/img/logos/agency-logo1.png">
                </td>
                <td class="w33p">
                    <img class="" src="/img/1x1.png" data-src="/img/logos/agency-logo2.png">
                </td>
                <td class="w33p">
                    <img class="" src="/img/1x1.png" data-src="/img/logos/agency-logo3.png">
                </td>
            </tr>

            <!--<tr style="display: none" class="map_show_more">-->
	    <tr>
                <td class="w33p">
                    <img  src="/img/1x1.png" data-src="/img/logos/agency-logo4.png">
                </td>
                <td class="w33p">
                    <img  src="/img/1x1.png" data-src="/img/logos/agency-logo5.png">
                </td>
                <td class="w33p">
                    <img src="/img/1x1.png" data-src="/img/logos/agency-logo6.png">
                </td>
            </tr>



        </table>

        <!--<button class="mt-2 mb-5 btn btn-lg btn-outline-success" id="map_btn_show_more">Показать ещё</button>-->


</section>
