<section id="agency_intro">

    {% include '768/direction.html.twig' %}

    <div class="container">
        <div class="h1 agency_intro-text text-center">

            Повысим лояльность ваших клиентов и<br> дадим вам лучшие партнёрские условия<br> по оформлению виз

            <p></p>

            {#<a style="visibility: hidden" href="#" data-toggle="modal" data-target="#video_modal_1"#}
            {#class="btn-get-started scrollto mt-lg-5 " id="video-link"><i class="fa fa-play"></i> Смотреть видео</a>#}

            <div class="row text-white mt-lg-5">
                <div class="col px-4">
                    <table class="w1090px">
                        <tr>
                            <td class="text-left pl-0 ">
                                <table class="ml-0 pl-0">
                                    <tr>
                                        <td class="align-text-top">
                                            <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2">
                                        </td>
                                        <td class="align-text-top text-white">
                                            % отказа стремится к 0
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2">
                                        </td>
                                        <td class="align-text-top text-white">
                                            Быстрое и безошибочное оформление<br> для ваших клиентов
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-right pl-0">
                                <table class="mr-0 pr-0">
                                    <tr>
                                        <td class="align-text-top">
                                            <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2">
                                        </td>
                                        <td class="align-text-top text-white">
                                            от 10% комиссионных отдаём вам
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div><!--col-->
            </div><!--//row-->
        </div><!--agency_intro-text-->
    </div> <!-- //container -->
</section><!-- #agency_intro -->
