<section id="agency_intro3" class="pt-5">
    <div class="container text-center  align-content-center justify-content-center">

            <div class="text-white h2">
                Надёжный партнёр — что может <br>быть лучше?
            </div>
            <div class="text-white h4 mt-4">
                Даже если вы полностью довольны своим нынешним партнёром, то ничего не мешает вам попробовать<br>
                сотрудничать с нами, не разрывая деловых связей со своим прежним партнёром.
            </div>
            <div class="text-white h3 mt-4">
                Мы гарантируем, что с нами будет выгоднее и душевнее,<br> почему бы не попробовать?
            </div>
            <div class="text-white h4 mt-4">
                Ваши клиенты сами же подтвердят вам, как легко и приятно вы оформили им визы.
            </div>

            <br>

            <table class="m-auto">
                <tr>
                    <td>
                        <img src="/img/1x1.png"  data-src="/img/agency/agency-phone.png" style="margin: -1px;">
                    </td>
                    <td class="bg-white text-dark text-left text b" style="    font-size: 1.25rem; font-weight: 500; padding: 0px 20px 0px 20px;    letter-spacing: 0.03rem;">
                        Звоните, обсудим детали, устроим презентацию для руководства и менеджеров,<br>
                        проведём пробные оформления для затравки. Вы убедитесь — с нами<br>
                        действительно выгодно, приятно и надёжно!
                    </td>
                </tr>
            </table>



        <div class="row text-center mt-5">
            <div class="col">
                <button class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#consultation_modal_6">Стать партнёром</button>
            </div>
        </div>

    </div><!-- //containter-->
</section>