<section id="agency_list" class="bg-gray pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <div class="h2">
                Наша обычная работа — комфортное<br> сотрудничество для вас
            </div>
        </div>


        <table class="margin-auto w1110px" >
            <tr>
                <td class="">
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-l1.png">
                </td>
                <td class="">
                    <div class="bg-text text-left pt-3">
                        <span class="h5 text-dark mt-3 h-agency-table"> Ваша цена для клиента</span><br>
                        <div>
                            Вы сами формируете цену на услугу оформления визы: это даёт вам возможность получить
                            увеличенную, по сравнению с нашими конкурентами, маржу. Мы берём минимальную
                            фиксированную стоимость за услуги, которую обсудим лично.
                        </div>
                    </div>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-right.png">
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-l2.png">
                </td>
                <td>
                    <div class="bg-text text-left">
                        <span class="h5 text-dark mt-4 h-agency-table">
                            Процент отказа стремится к 0
                        </span><br>
                        <div>
                            Заполняем документы грамотно и никогда не сталкиваемся с отказом в выдаче визы из-за
                            несоответствия пакета документов требованиям консульства. Для исключения отказов по
                            другим причинам изучаем данные клиента и предварительно предупреждаем о возможном отказе.
                        </div>
                    </div>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-right.png">
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-l3.png">
                </td>
                <td>
                    <div class="bg-text text-left">
                        <span class="h5 text-dark mt-4 h-agency-table"> Мы будем вашими ногами</span><br>
                        <div>
                            Вашим работникам не придётся больше бегать по консульствам или другим визовым центрам.
                            Наши сотрудники заберут документы из вашего офиса, проводят клиентов в консульство для
                            личной подачи, получат готовые паспорта и привезут нам.
                        </div>
                    </div>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-right.png">
                </td>
            </tr>


            <tr>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-l4.png">
                </td>
                <td>
                    <div class="bg-text text-left">
                        <span class="h5 text-dark mt-5 h-agency-table"> Оперативность</span><br>
                        <div>
                            Предпочитаем работать быстро, оформляем срочные визы в Германию
                            или Китай в течение 4-х рабочих дней.
                        </div>
                    </div>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-right.png">
                </td>
            </tr>


            <tr>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-l5.png">
                </td>
                <td>
                    <div class="bg-text text-left">
                        <div>
                            <span class="h5 text-dark mt-5 h-agency-table"> Широкая география</span><br>
                            <div>
                                Мы сотрудничаем со всеми регионами России: наши представители работают при
                                консульствах
                                Москвы, Санкт-Петербурга, Екатеринбурга, Иркутска и Владивостока.

                            </div>
                        </div>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-right.png">
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-l6.png">
                </td>
                <td>
                    <div class="bg-text text-left">
                        <div>
                            <span class="h5 text-dark mt-5 h-agency-table"> Дополнительные услуги</span><br>
                            <div>
                                Страховка, доставка документов, нотариальное удостоверение, перевод документов —
                                мы делаем всё необходимое для гарантированного получения виз.

                            </div>
                        </div>
                </td>
                <td>
                    <img src="/img/1x1.png" data-src="/img/agency/agency-work-right.png">
                </td>
            </tr>


        </table>


    </div><!-- //containter-->
</section>