<section id="three_squares" class="mb-4 pb-4 pt-5">
    <div class="container text-center justify-content-center align-items-center">
        <span class="text-dark m-4 h2"><span>Какие конкретно выгоды вы получите<br> от нашего сотрудничества</span></span>

        <table class="">
            <tr class="tr-1">
                <td class="td-top td-1">
                    <img src="/img/agency/agency-check-box.png">
                    <div class="square">
                        <div class="h5 text-dark text-left title mb-2">
                        Ничего лишнего
                        </div>
                        <div class="text-left text-gray text">
                        Мы всё делаем сами, причём клиенты даже не догадаются, что оформлением визы занимаются не ваши работники.
                        </div>
                    </div>
                </td>
                <td class="td-top td-2">
                    <img src="/img/agency/agency-check-box.png">
                    <div class="square">
                        <div class="h5 text-dark text-left mb-2">
                            Дополнительный доход
                        </div>
                        <div class="text-left text-gray">
                            Наши комиссионные в размере от 10% можно назвать вполне приятной мелочью и ощутимым дополнительным источником дохода без ваших усилий.
                        </div>
                    </div>
                </td>
                <td class="td-top td-3">
                    <img src="/img/agency/agency-check-box.png">
                    <div class="square">
                        <div class="h5 text-dark text-left mb-2">
                            Высокая лояльность
                        </div>
                        <div class="text-left text-gray">
                            Мы обслуживаем клиентов на высоком профессиональном уровне, что закономерно повышает их доверие к вашей компании и желание рекомендовать друзьям и возвращаться к вам.
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <br><br>

        <div class="row text-center mt-5">
            <div class="col">
                <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#consultation_modal_6">Стать партнёром</button>
            </div>
        </div>

</section>
