<section id="three_rectangles" class="mb-5 pb-4 pt-2 margin-auto text-center">
    <div class="container text-center justify-content-center align-items-center w1110px">
        <span class="text-dark m-4 h2"><span>Ищете надёжного партнёра<br> по оформлению виз для<br> клиентов вашего агентства?</span></span>
        <span class="text-dark m-4 h3">В таком случае вам нужен отлаженный механизм по быстрому<br> оформлению виз, который приведёт вам лояльных клиентов</span>

   <div class="row text-left mt-5">
       <div class="col bg-gray mx-2 p-4 text-gray">
           <img src="/img/1x1.png" data-src="/img/agency/agency-f-1.png">
           <br>
           Мы предоставим вам <span class="b text-dark">комиссию от 10%</span><br>
           и обслужим ваших туристов так, что они<br>
           придут снова и снова.
       </div>

       <div class="col bg-gray mx-2 p-4 text-gray">
           <img src="/img/1x1.png" data-src="/img/agency/agency-f-2.png">
           <br>
            <span class="b text-dark">Клиенты не будут знать</span>, что это не вы<br>
           занимаетесь оформлением виз.
       </div>

       <div class="col bg-gray mx-2 p-4 text-gray">
           <img src="/img/1x1.png" data-src="/img/agency/agency-f-3.png">
           <br>
            Гарантируем рост лояльности ваших<br>
            клиентов, вереницу новых по<br>
           сарафанному радио и, в итоге, <span class="b text-dark">рост</span> <br>
            <span class="b text-dark">вашей прибыли.</span>
       </div>
   </div>



    </div>
</section>
