<section id="direction_advantages" class="p-0 {% if background_class is defined %}{{ background_class }}{% endif %}">
    <div class="container">

        {#{% include 'breadcrumbs.html.twig' %}#}

        <table class="w100p justify-content-center text-center align-content-center">
            <tr>
                <td class="py-0">
                    <img alt="" src="/img/1x1.png" data-src="/img/inner/a1.png"><br>
                    <span class="b">92% клиентов</span><br> становятся<br> постоянными
                </td>
                <td class="py-0">
                    <img alt="" src="/img/1x1.png" data-src="/img/inner/a2.png"><br>
                    <span class="b">Уникальная</span><br> <span class="b"> программа</span> контроля<br> качества
                </td>
            </tr>
            <tr>
                <td class="py-4">
                    <img alt="" src="/img/1x1.png" data-src="/img/inner/a3.png"><br>
                    Занимаемся<br> оформлением <span class="b">всех</span><br> <span class="b">типов виз</span>
                </td>
                <td class="py-4">
                    <img alt="" src="/img/1x1.png" data-src="/img/inner/a4.png"><br>
                    <span class="b">2000+ виз</span><br> оформлено только<br> за 2017 год
                </td>
            </tr>
            <tr>
                <td colspan="2" class="pt-4">
                    <img alt="" src="/img/1x1.png" data-src="/img/inner/a5.png"><br>
                    <span class="b">5 дополнительных услуг</span><br> для удобства<br> клиентов
                </td>
            </tr>


        </table>
    </div> <!-- //container -->
</section>