<section id="advantages" class="bg-gray pb-0 px-5 ">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col">
                <div class="h2 text-dark">
                    {% if title is defined %}
                        {{ title|raw|striptags }}
                    {% else %}
                        Эти 10 пунктов тоже в списке наших достоинств
                    {% endif %}
                </div><br>
                <div class="h3 text-dark">
                    {% if subtitle is defined %}
                        {{ subtitle|raw|striptags }}
                    {% else %}
                        Таково мнение наших клиентов
                    {% endif %}
                </div>
            </div>
        </div>
        <br>

        <table class="mb-5 margin-auto w100p">
            <tr>
                <td class="valign-top">
                    <div class="icon mt-4">
                        <img alt="" src="/img/1x1.png" data-src="/img/advantages/11.png"  class="img-fluid">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">Сроки оформления</h4>
                    <p class="gray">
                        Благодаря налаженной системе взаимодействия  с посольствами и контролю качества сокращаем
                        сроки до минимально допустимых.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/12.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">Индивидуальный подход</h4>
                    <p class="gray">
                        Вникаем в детали ситуации каждого клиента,  формируя персональный алгоритм действий.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/21.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">Бесплатное консультирование</h4>
                    <p class="gray">
                        За 20 минут наш специалист ответит  на интересующие вас вопросы безвозмездно.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/22.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">5 дополнительных услуг</h4>
                    <p class="gray">
                        Помимо визы предлагаем комплекс услуг по  заказу билетов, номера в отеле и т.д. для  повышения
                        вашего комфорта.
                    </p>
                </td>
            </tr>













            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/31.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">
                        Единый call-центр
                    </h4>
                    <p class="gray">
                        Вы всегда можете позвонить нам, не посещая  офис, и проконсультироваться у компетентного
                        специалиста.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/32.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">
                        Доставка документов клиенту
                    </h4>
                    <p class="gray">
                        Если нашего представительства нет в вашем  городе, отправим документы почтой или  курьерской
                        службой.
                    </p>
                </td>
            </tr>








            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/41.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">
                        Работаем с широким кругом клиентов
                    </h4>
                    <p class="gray">
                        Неважно, вы частное лицо или организация,  которой нужно отправить сотрудника на обучение  за
                        границу. Помогаем всем.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/42.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">
                        Оформляем 10+ типов виз
                    </h4>
                    <p class="gray">
                        Работаем с клиентами разных возрастов,  подбираем лучший вариант по цене, сроку  и в зависимости
                        от исходных условий.
                    </p>
                </td>
            </tr>







            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/51.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">
                        Всегда на связи
                    </h4>
                    <p class="gray">
                        Вы можете в любой момент позвонить  личному менеджеру и поинтересоваться  о ходе процесса
                        оформления.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="valign-top">
                    <div class="icon mt-4"><img alt="" src="/img/1x1.png" data-src="/img/advantages/52.png"  class="img-fluid ">
                    </div>
                </td>
                <td>
                    <h4 class="advantage text-dark mt-4">
                        Есть возможность срочного оформления
                    </h4>
                    <p class="gray">
                        Вы не пропустите важную встречу или свой  рейс из-за бюрократических моментов.
                    </p>
                </td>
            </tr>

        </table>


    </div> <!-- //container -->
</section>