<section id="section-care" class="about-us bg-white pt-5 px-5">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="col">
                <span class="h2">Заботимся о наших клиентах</span><br>
                <span class="h3 mt-4">Предоставляем 5 дополнительных услуг</span><br>
                <div class="h4 mt-4">
                    <span>Комфорт клиента - наше кредо. Поэтому мы предлагаем ряд дополнительных услуг, чтобы сэкономить ваше время на выборе и посещении сторонних фирм:</span>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <div class="row d-flex justify-content-center text-center align-content-center m-0 p-0">
                        <div class="col">
                            <figure >

                                <div class="care-image">
                                    <p>
                                        <img alt="" src="/img/1x1.png" data-src="/img/services/avio.jpg">
                                        <span class="care-title text-white text-left">Авиабилеты</span>
                                    </p>
                                </div>

                                <div >
                                    <div class="text-left">
                                        <span class="gray">Забронируем для Вас билеты по самым выгодным ценам под конкретное путешествие</span>
                                        <a href="#" data-toggle="modal" data-target="#consultation_modal_1"
                                           data-commentary="Авиабилеты"
                                           class="get-care-consultation  btn btn-success btn-sm btn-block mt-4 text-white ">
                                            <span>Рассчитать стоимость</span>
                                        </a>
                                        {#<a href=""#}
                                        {#class="btn btn-outline-success btn-sm btn-block mt-4 text-success">Узнать больше</a>#}
                                    </div>
                                </div>
                            </figure>
                        </div> <!--//col -->
                    </div><!--//row-->
                </td>

            </tr>
            <tr>
                <td>
                    <div class="row d-flex justify-content-center text-center align-content-center m-0 p-0">
                        <div class="col">
                            <figure >

                                <div class="care-image">
                                    <p>
                                        <img alt="" src="/img/1x1.png" data-src="/img/services/hotel.jpg">
                                        <span class="care-title text-white text-left">Отели</span>
                                    </p>
                                </div>

                                <div >
                                    <div class="text-left">
                                        <span class="gray">Наши сотрудники помогут определиться с отелем необходимого класса и стоимости, забронировав в нем номер</span>
                                        <a href="#" data-toggle="modal" data-target="#consultation_modal_1"
                                           data-commentary="Авиабилеты"
                                           class="get-care-consultation  btn btn-success btn-sm btn-block mt-4 text-white ">
                                            <span>Рассчитать стоимость</span>
                                        </a>
                                        {#<a href="{{ path('blog_list') }}"#}
                                        {#class="btn btn-outline-success btn-sm btn-block mt-4 text-success">Узнать больше</a>#}
                                    </div>
                                </div>
                            </figure>
                        </div> <!--//col -->
                    </div><!--//row-->
                </td>

            </tr>
            <tr>
                <td>
                    <div class="row d-flex justify-content-center text-center align-content-center m-0 p-0">
                        <div class="col">
                            <figure >

                                <div class="care-image">
                                    <p>
                                        <img alt="" src="/img/1x1.png" data-src="/img/services/visit.jpg">
                                        <span class="care-title text-white text-left">Приглашения</span>
                                    </p>
                                </div>

                                <div >
                                    <div class="text-left">
                                        <span class="gray">Делаем запрос или содействуем в оформлении приглашений различного вида под разные типы виз</span>
                                        <a href="#" data-toggle="modal" data-target="#consultation_modal_1"
                                           data-commentary="Авиабилеты"
                                           class="get-care-consultation  btn btn-success btn-sm btn-block mt-4 text-white ">
                                            <span>Рассчитать стоимость</span>
                                        </a>
                                        {#<a href="{{ path('blog_list') }}"#}
                                        {#class="btn btn-outline-success btn-sm btn-block mt-4 text-success">Узнать больше</a>#}
                                    </div>
                                </div>
                            </figure>
                        </div> <!--//col -->
                    </div><!--//row-->
                </td>

            </tr>
            <tr>
                <td>
                    <div class="row d-flex justify-content-center text-center align-content-center m-0 p-0">
                        <div class="col">
                            <figure >

                                <div class="care-image">
                                    <p>
                                        <img alt="" src="/img/1x1.png" data-src="/img/services/insurance.jpg">
                                        <span class="care-title text-white text-left">Страхование</span>
                                    </p>
                                </div>

                                <div >
                                    <div class="text-left">
                                        <span class="gray">Оформим обязательное и добровольное страхование от различного рода рисков</span>
                                        <a href="#" data-toggle="modal" data-target="#consultation_modal_1"
                                           data-commentary="Авиабилеты"
                                           class="get-care-consultation  btn btn-success btn-sm btn-block mt-4 text-white ">
                                            <span>Рассчитать стоимость</span>
                                        </a>
                                        {#<a href="{{ path('blog_list') }}"#}
                                        {#class="btn btn-outline-success btn-sm btn-block mt-4 text-success">Узнать больше</a>#}
                                    </div>
                                </div>
                            </figure>
                        </div> <!--//col -->
                    </div><!--//row-->
                </td>

            </tr>
            <tr>

                <td>
                    <div class="row d-flex justify-content-center text-center align-content-center m-0 p-0">
                        <div class="col">
                            <figure >

                                <div class="care-image">
                                    <p>
                                        <img alt="" src="/img/1x1.png" data-src="/img/services/translation.jpg">
                                        <span class="care-title text-white text-left">Переводы</span>
                                    </p>
                                </div>

                                <div >
                                    <div class="text-left">
                                        <span class="gray">Поможем создать переводы в любую точку мира с максимально удобными условиями и минимальной комиссией</span>
                                        <a href="#" data-toggle="modal" data-target="#consultation_modal_1"
                                           data-commentary="Авиабилеты"
                                           class="get-care-consultation  btn btn-success btn-sm btn-block mt-4 text-white ">
                                            <span>Рассчитать стоимость</span>
                                        </a>
                                        {#<a href="{{ path('blog_list') }}"#}
                                        {#class="btn btn-outline-success btn-sm btn-block mt-4 text-success">Узнать больше</a>#}
                                    </div>
                                </div>
                            </figure>
                        </div> <!--//col -->
                    </div><!--//row-->
                </td>
            </tr>
        </table>
    </div> <!-- //container -->
</section>