<section id="advantages" class="bg-gray mb-0 pb-0">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="col">
                <div class="h2 text-dark">
                    {% if title is defined %}
                        {{ title|raw }}
                    {% else %}
                        Эти 10 пунктов тоже в списке<br>наших достоинств
                    {% endif %}
                </div>
                <div class="h3 text-dark mt-2">
                    {% if subtitle is defined %}
                        {{ subtitle|raw }}
                    {% else %}
                        Таково мнение наших клиентов
                    {% endif %}
                </div>
            </div>
        </div>


        <table class="table-10-advantages mb-5 margin-auto">
            <tr>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/11.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">Сроки оформления</span>
                    <p class="gray">
                        Благодаря налаженной системе взаимодействия<br> с посольствами и контролю качества сокращаем<br>
                        сроки до минимально допустимых.
                    </p>
                </td>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/12.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">Индивидуальный подход</span>
                    <p class="gray">
                        Вникаем в детали ситуации каждого клиента,<br> формируя персональный алгоритм действий.
                    </p>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/21.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">Бесплатное консультирование</span>
                    <p class="gray">
                        За 20 минут наш специалист ответит<br> на интересующие вас вопросы безвозмездно.
                    </p>
                </td>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/22.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">5 дополнительных услуг</span>
                    <p class="gray">
                        Помимо визы предлагаем комплекс услуг по<br> заказу билетов, номера в отеле и т.д. для<br>
                        повышения
                        вашего комфорта.
                    </p>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/31.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">
                        Единый call-центр
                    </span>
                    <p class="gray">
                        Вы всегда можете позвонить нам, не посещая<br> офис, и проконсультироваться у компетентного<br>
                        специалиста.
                    </p>
                </td>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/32.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">
                        Доставка документов клиенту
                    </span>
                    <p class="gray">
                        Если нашего представительства нет в вашем<br> городе, отправим документы почтой или<br>
                        курьерской
                        службой.
                    </p>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/41.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">
                        Работаем с широким кругом клиентов
                    </span>
                    <p class="gray">
                        Неважно, вы частное лицо или организация,<br> которой нужно отправить сотрудника на обучение<br>
                        за
                        границу. Помогаем всем.
                    </p>
                </td>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/42.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">
                        Оформляем 10+ типов виз
                    </span>
                    <p class="gray">
                        Работаем с клиентами разных возрастов,<br> подбираем лучший вариант по цене, сроку<br> и в
                        зависимости
                        от исходных условий.
                    </p>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/51.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">
                        Всегда на связи
                    </span>
                    <p class="gray">
                        Вы можете в любой момент позвонить<br> личному менеджеру и поинтересоваться<br> о ходе процесса
                        оформления.
                    </p>
                </td>
                <td>
                    <div class="icon"><img alt="" src="/img/1x1.png" data-src="/img/advantages/52.png"
                                           class="img-fluid">
                    </div>
                </td>
                <td>
                    <span class="h4 advantage text-dark">
                        Есть возможность срочного оформления
                    </span>
                    <p class="gray">
                        Вы не пропустите важную встречу или свой<br> рейс из-за бюрократических моментов.
                    </p>
                </td>
            </tr>

        </table>


    </div> <!-- //container -->


    {% if is_consultation_form_2 is defined and is_consultation_form_2 %}
        {% include 'consultation_form_2.html.twig' %}
    {% endif %}

</section>