<section id="agency_intro" class="px-5 py-5">

    {#{% include '768/direction.html.twig' %}#}

    <div class="container">
        <div class="h1 agency_intro-text text-center">

            Повысим лояльность ваших клиентов<br> и дадим вам лучшие партнёрские условия<br> по оформлению виз

            <p></p>

            {#<a style="visibility: hidden" href="#" data-toggle="modal" data-target="#video_modal_1"#}
            {#class="btn-get-started scrollto mt-lg-5 " id="video-link"><i class="fa fa-play"></i> Смотреть видео</a>#}

            <table class="w100p">
                <tr>
                    <td class="text-left pl-0 align-text-top">
                        <table class="ml-0 pl-0" >
                            <tr>
                                <td class="align-text-top">
                                    <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2 mt-3">
                                </td>
                                <td class="align-text-top text-white text">
                                    % отказа стремится к 0
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="align-text-top">
                        <table >
                            <tr>
                                <td class="align-text-top">
                                    <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2 mt-3">
                                </td>
                                <td class="align-text-top text-white text">
                                    Быстрое и безошибочное<br> оформление для ваших<br> клиентов
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right pl-0 align-text-top">
                        <table class="mr-0 pr-0" >
                            <tr>
                                <td class="align-text-top">
                                    <img alt="" src="/img/1x1.png" data-src="/img/agency/banner-agency-check.png" class="mr-2 mt-3">
                                </td>
                                <td class="align-text-top text-white text">
                                    От 10% комиссионных<br> отдаём вам
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div><!--agency_intro-text-->
    </div> <!-- //container -->
</section><!-- #agency_intro -->


