<section id="agency_intro2" class="mt-5 pt-5 px-5">
    <div class="container text-white">
        <div class="text-center">
            <div class="text-white h3">
                Компания «Международный визовый центр»<br>
                специализируется на корректном и быстром оформлении любых<br>
                типов виз, в зависимости от потребностей клиентов<br>
            </div>
        </div>

        <div class="row mt-5 mb-4">
            <div class="col">
                <span class="title">Уже 4 года</span>
                <div class="text vertical-line ">

                    Уже 4 года мы получаем визы без задержек и проволочек, изучив<br>
                    все материалы и сложности, которые бывают, и наработав нужные<br>
                    крепкие связи.
                </div>
            </div>
            <div class="col">
                <span class="title"> От 10% комиссионных</span>
                <div class="text vertical-line ">
                    Оформляем визы в любую страну мира чётко и грамотно, не нервируя клиентов. Вам отдаём от 10%
                    комиссионных:<div class="b d-inline" > вы можете сами устанавливать стоимость наших услуг для клиентов.</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row text-center">
            <div class="col">
                <button class="btn btn-outline-light" data-toggle="modal" data-target="#consultation_modal_6">Стать партнёром</button>
            </div>
        </div>

    </div><!-- //containter-->
</section>