<section id="three_rectangles" class="mb-5 pb-4 pt-2 px-3">
    <div class="container text-center justify-content-center align-items-center ">
        <div class="text-dark m-4 h2">Ищете надёжного партнёра<br> по оформлению виз для<br> клиентов вашего агентства?</div>
        <div class="text-dark m-4 h3">В таком случае вам нужен отлаженный механизм по быстрому<br> оформлению виз, который приведёт вам лояльных клиентов</div>

<br><br>
        <table class="margin-auto mt-5">
            <tr>
                <td>
                    <div class="box bg-gray mx-2 p-4 text-gray text-left">
                        <img src="/img/1x1.png" data-src="/img/agency/agency-f-1.png">
                        <br>
                        Мы предоставим вам<br>
                        <span class="b text-dark">комиссию от 10%</span><br>
                        и обслужим ваших<br>
                        туристов так, что они<br>
                        придут снова и снова.
                    </div>
                </td>
                <td>
                    <div class="box bg-gray mx-2 p-4 text-gray text-left">
                        <img src="/img/1x1.png" data-src="/img/agency/agency-f-2.png">
                        <br>
                        <span class="b text-dark">Клиенты не будут</span><br>
                        <span class="b text-dark">знать</span>,
                        что это не вы<br>
                        занимаетесь<br>
                        оформлением виз.
                    </div>
                </td>
                <td>

                    <div class="box bg-gray mx-2 p-4 text-gray text-left">
                        <img src="/img/1x1.png" data-src="/img/agency/agency-f-3.png">
                        <br>
                        Гарантируем рост<br>
                        лояльности ваших<br>
                        клиентов, вереницу<br>
                        новых по сарафанному<br>
                        радио и, в итоге, <span class="b text-dark">рост</span> <br>
                        <span class="b text-dark">вашей прибыли.</span>
                    </div>
                </td>
            </tr>
        </table>


    </div>
</section>
