<section id="companies" class="mb-5 pb-4 pt-5">
    <div class="container text-center justify-content-center align-items-center">
        <span class="text-dark m-4 h2 pb-4">Эти компании уже с нами работают</span>

        <table class="w1110px mb-4 margin-auto">
            <tr>
                <td class="w33p">
                    <img class="" src="/img/1x1.png" data-src="/img/logos/organization-logo1.png">
                </td>
                <td class="w33p">
                    <img class="" src="/img/1x1.png" data-src="/img/logos/organization-logo2.png">
                </td>
                <td class="w33p">
                    <img class="" src="/img/1x1.png" data-src="/img/logos/organization-logo3.png">
                </td>
            </tr>

            <tr>
                <td class="w33p">
                    <img class="mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo4.png">
                </td>
                <td class="w33p">
                    <img class="mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo5.png">
                </td>
                <td class="w33p">
                    <img class="mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo6.png">
                </td>
            </tr>

            <tr>
                <td class="w33p">
                    <img class="mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo7.png">
                </td>
                <td class="w33p">
                    <img class="mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo8.png">
                </td>
                <td class="w33p">
                    <img class="mt-5" src="/img/1x1.png" data-src="/img/logos/organization-logo9.png">
                </td>
            </tr>


        </table>



</section>
