<section id="organization_intro">

    {% include '768/direction.html.twig' %}

    <div class="container">
        <div class="h1 organisation_intro-text text-center">

            <div>
                Оформление виз с экономией рабочего<br> времени ваших сотрудников до 30%
            </div>

            <div class="row text-white mt-4 mb-3">
                <div class="col px-4">
                    <table class="w1090px">
                        <tr>
                            <td class="text-left pl-0 ">
                                <table class="ml-0 pl-0">
                                    <tr>
                                        {#<td class="">#}
                                        <td>
                                            <img alt="" src="/img/1x1.png"
                                                 data-src="/img/agency/banner-agency-check.png" class="mr-2">
                                        </td>
                                        <td class=" text-white">
                                            % отказа стремится к 0
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <img alt="" src="/img/1x1.png"
                                                 data-src="/img/agency/banner-agency-check.png" class="mr-2">
                                        </td>
                                        <td class=" text-white">
                                            Один договор на все типы виз
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-right pl-0">
                                <table class="mr-0 pr-0">
                                    <tr>
                                        <td>
                                            <img alt="" src="/img/1x1.png"
                                                 data-src="/img/agency/banner-agency-check.png" class="mr-2">
                                        </td>
                                        <td class=" text-white">
                                            Быстрое и безошибочное оформление
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div><!--col-->
            </div><!--//row-->
        </div><!--organisation_intro-text-->
    </div> <!-- //container -->
</section><!-- #organisation_intro -->
