<section id="organization_intro4" class="pt-5">
    <div class="container text-center  align-content-center justify-content-center">

            <div class="text-white h2">
                Попробуйте — вы ничего <br>не теряете!
            </div>
            <div class="text-white h4 mt-4">
                Мы можеv начать с оформления одной визы.
            </div>
            <div class="text-white h3 mt-4">
                Вы соберёте обратную связь от своих секретарей и на деле убедитесь,<br>
                что наше предложение превосходно и очень выгодно.
            </div>

            <br>

            <table class="m-auto">
                <tr>
                    <td>
                        <img src="/img/1x1.png"  data-src="/img/agency/agency-phone.png"  style="margin: -1px;">
                    </td>
                    <td class="bg-white text-dark text-left p-4 b" style="    font-size: 1.25rem; font-weight: 500; padding: 0px 20px 0px 20px;    letter-spacing: 0.03rem;">
                        Звоните, обсудим нюансы, схему работы, количество необходимых услуг.<br>
                        Вы ничего не теряете, а приобрести можете многое.
                    </td>
                </tr>
            </table>

        <div class="row text-center mt-5">
            <div class="col">
                <button class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#consultation_modal_7">Получить консультацию</button>
            </div>
        </div>

    </div><!-- //containter-->
</section>