<section id="square" class="mb-5 pb-5 pt-2">
    <div class="container text-center justify-content-center align-items-center">
        <table class="m-auto bg-gray">
            <tr>
                <td>
                    <img src="/img/1x1.png" data-src="/img/organization/organization-bag.png" style="-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);">
                </td>
                <td class="text-dark text-left p-4 pl-5">

                    <div class="h3">Вам нужно оформить визу<br>для деловой поездки?</div>
                    <div class="mt-4">
                        Скорее всего, организацией поездок в вашей компании обычно занимаются секретари. Это<br>
                        отнимает львиную долю их рабочего времени, в разы снижая эффективность остальной работы.<br>
                        Мы в корне изменим эту плачевную ситуацию!
                    </div>
                </td>
            </tr>
        </table>
</section>
