<div id="five-circles" class="bg-gray mt-4 pt-4 mb-0 pb-4 px-5">
    <div class="container  justify-content-center text-center align-content-center  text-center justify-content-center ">
        <header class="text-center no-margin-bottom  text-center justify-content-center align-items-center">
            <span class="h2 text-dark">{{ visa.fiveCirclesMainTitle }}</span><br>
            <span class="h3 text-dark mt-4">{{ visa.fiveCirclesSubTitle }}</span>
        </header>


        <table class="w100p">
            <tr>
                <td class="p-3">
                    <img alt="" src="/img/1x1.png" data-src="/img/five_circles/1.png"><br>
                    <div class="five-circles-title">Лично в офисе</div>
                    <br>
                    <div class="btn btn-outline-success btn-success-outer mt-2  text-center justify-content-center align-items-center">
                        <a href="#" class="btn btn-outline-  btn-success-inner text-center justify-content-center align-items-center " data-toggle="modal"
                           data-target="#consultation_modal_1">
                            <span class="text-center justify-content-center align-items-center">Записаться</span>
                        </a>
                    </div>

                </td>
                <td class="p-3">
                    <img alt="" src="/img/1x1.png" data-src="/img/five_circles/2.png"><br>
                    <div class="five-circles-title">Курьером</div>
                    <br>
                    <div class="btn btn-outline-success btn-success-outer mt-2  text-center justify-content-center align-items-center">
                        <a href="#" class="btn btn-outline-  btn-success-inner text-center justify-content-center align-items-center" data-toggle="modal"
                           data-target="#consultation_modal_1">
                            <span class="text-center justify-content-center align-items-center">&nbsp;&nbsp;&nbsp;Вызвать</span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>

                <td class="p-3">
                    <img alt="" src="/img/1x1.png" data-src="/img/five_circles/3.png"><br>
                    <div class="five-circles-title">E-mail</div>
                    <br>

                    <div class="btn btn-outline-success btn-success-outer mt-2  text-center justify-content-center align-items-center">
                        <a class="btn btn-outline-  btn-success-inner text-center justify-content-center align-items-center" href="mailto:info@ivcg.ru">
                            <span class="text-center justify-content-center align-items-center">&nbsp;Отправить</span>
                        </a>
                    </div>
                </td>


                <td class="p-3">
                    <img alt="" src="/img/1x1.png" data-src="/img/five_circles/5.png"><br>
                    <div class="five-circles-title">VK</div>
                    <br>

                    <div class="btn btn-outline-success btn-success-outer mt-2  text-center justify-content-center align-items-center">
                        <a class="btn btn-outline-  btn-success-inner text-center justify-content-center align-items-center" href="https://vk.com/im?sel=-167992051" target="_blank">
                            <span class="text-center justify-content-center align-items-center">&nbsp;Отправить</span>
                        </a>
                    </div>
                </td>
            </tr>

        </table>

    </div>
</div>