<section id="direction-question" class="bg-gray my-0 py-0">
    <div class="container justify-content-center text-center align-content-center">
        <header class="text-center no-margin-bottom">
            <span class="h2 text-dark">Почему более 3500 клиентов<br> уже доверились нам?</span>
        </header>

    </div>
    <div class="container mt-4 margin-auto">
        <div class="container justify-content-center text-center align-content-center">
        <table class="align-text-top margin-auto">
            <tr>
                <td class="">
                    <img alt="" src="/img/inner/cb-768.png" class="w180px"><br>
                    <img alt="" src="/img/inner/c1.png" class="icon"><br>
                    <div class="text-1 ">Минимальный риск<br> отказа 0,01% благодаря<br> уникальной системе<br> контроля</div>
                    <hr>
                    <div class="text-2">Если за дело берёмся мы</div>
                </td>
                <td>
                    <img alt="" src="/img/inner/cb-768.png" class="w180px"><br>
                    <img alt="" src="/img/inner/c2.png" class="icon"><br>
                    <div class="text-1 ">Подготовку нужных<br> бумаг берём на себя</div>
                    <hr>
                    <div class="text-2">Участие клиента<br>- минимальное</div>
                </td>
                <td>
                    <img alt="" src="/img/inner/cb-768.png" class="w180px"><br>
                    <img alt="" src="/img/inner/c3.png" class="icon"><br>
                    <div class="text-1 ">Знаем в 3 раза больше<br> нюансов, чем<br> все конкуренты</div>
                    <hr>
                    <div class="text-2">И эта информация будет<br> работать на вас</div>
                </td>
            </tr>
        </table>
    </div>
    </div>
</section>

