<section id="online-video">
    <div class="container text-center">
        <h2>Практикуем прозрачность и честность в отношениях с клиентами</h2>
        <h6>Взгляните на нашу работу сами</h6>
        <p class="lead">Каждый наш клиент может не только посетить офис лично, но и проследить за рабочими буднями нашей
            команды в онлайн-эфире </p>
        <div class="row">
            <div class="col">
                {{ geo.embedVideo(1000, 500)|raw }}
            </div>
        </div>
    </div>
</section>


