<section id="agency_intro2" class="mt-5 pt-5 px-5">
    <div class="container text-white">
        <div class="text-center">
            <div class="text-white h2">
                Компания «Международный визовый центр» специализируется на корректном и быстром оформлении любых типов
                виз, в зависимости от потребностей клиентов
            </div>
        </div>

        <table class="w-100 mt-4">
            <tr>
                <td>
                    <span class="title">Уже 4 года</span>
                    <div class="text vertical-line ">

                        Уже 4 года мы получаем визы без задержек и проволочек, изучив
                        все материалы и сложности, которые бывают, и наработав нужные
                        крепкие связи.
                    </div>
                </td>
            </tr>
            <tr>
                <td class="pt-4">
                    <span class="title"> От 10% комиссионных</span>
                    <div class="text vertical-line ">
                        Оформляем визы в любую страну мира чётко и грамотно, не нервируя клиентов. Вам отдаём от 10%
                        комиссионных:
                        <div class="b d-inline"> вы можете сами устанавливать стоимость наших услуг для клиентов.</div>
                    </div>
                </td>
            </tr>
        </table>

        <br>

        <div class="row text-center">
            <div class="col">
                <button class="btn btn-outline-light" data-toggle="modal" data-target="#consultation_modal_1">Стать
                    партнёром
                </button>
            </div>
        </div>

    </div><!-- //containter-->
</section>