<section id="agency_intro3" class="pt-5 px-4">
    <div class="container text-center  align-content-center justify-content-center">
            <div class="text-white h2">
                Надёжный партнёр — что может быть лучше?
            </div>
            <div class="text-white h4 mt-4">
                Даже если вы полностью довольны своим нынешним партнёром, то ничего не мешает вам попробовать
                сотрудничать с нами, не разрывая деловых связей со своим прежним партнёром.
            </div>
            <div class="text-white h3 mt-4">
                Мы гарантируем, что с нами будет выгоднее и душевнее, почему бы не попробовать?
            </div>
            <div class="text-white h4 mt-4">
                Ваши клиенты сами же подтвердят вам, как легко и приятно вы оформили им визы.
            </div>
        <img src="/img/1x1.png" data-src="/img/agency/phone.jpg" class="phone-icon">
        <div class="bg-white text-dark text-left text b w-100 px-4 pb-4">
            Звоните, обсудим детали, устроим презентацию для руководства и менеджеров,
            проведём пробные оформления для затравки. Вы убедитесь — с нами
            действительно выгодно, приятно и надёжно!
        </div>
        <div class="row text-center mt-5">
            <div class="col">
                <button class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#consultation_modal_1">Стать партнёром</button>
            </div>
        </div>
    </div><!-- //containter-->
</section>