<section id="agency_list" class="bg-gray pt-5 pb-5 px-5">
    <div class="container justify-content-center text-center align-content-center">
        <div class="text-center">
            <div class="h2">
                Наша обычная<br> работа — комфортное сотрудничество для вас
            </div>
        </div>

        <br><br>
        <br><br>


        <div class="bg-white square text-center margin-auto px-4">
        <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/agency/back-icon-agency.png" class="icon-background"><br>
                <img src="/img/1x1.png" data-src="/img/agency/icon_1.png" class="icon"><br><br><br>
                <span class="text-center title text-dark">
                    Ваша цена для клиента
                </span>
                <div class="text-left text">
                    Вы сами формируете цену на услугу оформления визы: это даёт вам возможность получить
                    увеличенную, по сравнению с нашими конкурентами, маржу. Мы берём минимальную
                    фиксированную стоимость за услуги, которую обсудим лично.
                </div>
            </div>
        </div>

        <br><br><br><br><br>

        <div class="bg-white square text-center margin-auto px-4">
            <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/agency/back-icon-agency.png" class="icon-background"><br>
                <img src="/img/1x1.png" data-src="/img/agency/icon_2.png" class="icon"><br><br><br>
                <span class="text-center title text-dark">
                    Процент отказа стремится к 0
                </span>
                <div class="text-left text">
                    Заполняем документы грамотно и никогда не сталкиваемся с отказом в выдаче визы из-за
                    несоответствия пакета документов требованиям консульства. Для исключения отказов по
                    другим причинам изучаем данные клиента и предварительно предупреждаем о возможном отказе.
                </div>
            </div>
        </div>

        <br><br><br><br><br>

        <div class="bg-white square text-center margin-auto px-4">
            <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/agency/back-icon-agency.png" class="icon-background"><br>
                <img src="/img/1x1.png" data-src="/img/agency/icon_3.png" class="icon"><br><br><br>
                <span class="text-center title text-dark">
                    Мы будем вашими ногами
                </span>
                <div class="text-left text">
                    Вашим работникам не придётся больше бегать по консульствам или другим визовым центрам.
                    Наши сотрудники заберут документы из вашего офиса, проводят клиентов в консульство для
                    личной подачи, получат готовые паспорта и привезут нам.
                </div>
            </div>
        </div>

        <br><br><br><br><br>



        <div class="bg-white square text-center margin-auto px-4">
            <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/agency/back-icon-agency.png" class="icon-background"><br>
                <img src="/img/1x1.png" data-src="/img/agency/icon_4.png" class="icon"><br><br><br>
                <span class="text-center title text-dark">
                    Оперативность
                </span>
                <div class="text-left text">
                    Предпочитаем работать быстро, оформляем срочные визы в Германию
                    или Китай в течение 4-х рабочих дней.
                </div>
            </div>
        </div>


        <br><br><br><br><br>

        <div class="bg-white square text-center margin-auto px-4">
            <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/agency/back-icon-agency.png" class="icon-background"><br>
                <img src="/img/1x1.png" data-src="/img/agency/icon_5.png" class="icon"><br><br><br>
                <span class="text-center title text-dark">
                    Широкая география
                </span>
                <div class="text-left text">
                    Мы сотрудничаем со всеми регионами России: наши представители работают при
                    консульствах
                    Москвы, Санкт-Петербурга, Екатеринбурга, Иркутска и Владивостока.
                </div>
            </div>
        </div>

        <br><br><br><br><br>

        <div class="bg-white square text-center margin-auto px-4">
            <div class="moveup">
                <img src="/img/1x1.png" data-src="/img/agency/back-icon-agency.png" class="icon-background"><br>
                <img src="/img/1x1.png" data-src="/img/agency/icon_6.png" class="icon"><br><br><br>
                <span class="text-center title text-dark">
                    Дополнительные услуги
                </span>
                <div class="text-left text">
                    Страховка, доставка документов, нотариальное удостоверение, перевод документов —
                    мы делаем всё необходимое для гарантированного получения виз.
                </div>
            </div>
        </div>




    </div><!-- //containter-->
</section>