<section id="three_rectangles" class="mb-5 pb-4 pt-0 mt-0 bg-white px-4">
    <div class="container text-center justify-content-center align-items-center">
        <span class="text-dark mt-0 h2"><span>Ищете надёжного партнёра по оформлению виз для клиентов вашего агентства?</span></span>
        <span class="text-dark mt-3 h3">В таком случае вам нужен отлаженный механизм по быстрому оформлению виз, который приведёт вам лояльных клиентов</span>

        <table class="text-center w-100 mt-5">
            <tr>
                <td class="row text-left">
                    <div class="col bg-gray mx-2 p-4 text-gray">
                        <img src="/img/1x1.png" data-src="/img/agency/agency-f-1.png">
                        <br>
                        Мы предоставим вам <span class="b text-dark">комиссию от 10%</span> и обслужим ваших туристов так, что они придут снова и снова.
                    </div>
                </td>
                <td class="row text-left mt-5">
                    <div class="col bg-gray mx-2 p-4 text-gray">
                        <img src="/img/1x1.png" data-src="/img/agency/agency-f-2.png">
                        <br>
                        <span class="b text-dark">Клиенты не будут знать</span>, что это не вы занимаетесь оформлением виз.
                    </div>
                </td>
                <td class="row text-left mt-5">
                    <div class="col bg-gray mx-2 p-4 text-gray">
                        <img src="/img/1x1.png" data-src="/img/agency/agency-f-3.png">
                        <br>
                        Гарантируем рост лояльности ваших
                        клиентов, вереницу новых по
                        сарафанному радио и, в итоге, <span class="b text-dark">рост</span>
                        <span class="b text-dark">вашей прибыли.</span>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</section>


